{
  "env": {
    "node": true
  },
    "rules": {
      "no-eval": 1,
      "brace-style": [2, "1tbs", { "allowSingleLine": true }],
      "no-spaced-func": 2,
      "camelcase": 2,
      "space-in-brackets": [2, "never"],
      "space-infix-ops": [2, {"int32Hint": false}],
      "no-shadow": [0],
      "space-after-keywords": [2, "always"],
      "new-parens": [2],
      "curly": [1, "multi"],
      "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
      "no-underscore-dangle": [0],
      "quotes" : [2, "single", "avoid-escape"],
      "key-spacing": [2, {
          "align": "colon",
          "beforeColon": false,
          "afterColon": true
      }]
    },
    "plugins": [
    ]
}
